<settings><sprying1>09:00:00</sprying1><sprying2>16:00:00</sprying2><sprayingTime>21</sprayingTime><sprayingTimeManual>19</sprayingTimeManual><minimumHumidity>37</minimumHumidity><temperatureRequiredIsland>30.0</temperatureRequiredIsland><minUviForHeating>0.15</minUviForHeating><mainLightOnTime>08:30:00.000000</mainLightOnTime><mainLightOffTime>18:30:00.000000</mainLightOffTime></settings>