<settings><sprying1>09:00:00</sprying1><sprying2>17:00:00</sprying2><sprayingTime>12</sprayingTime><sprayingTimeManual>12</sprayingTimeManual><minimumHumidity>50</minimumHumidity><temperatureRequiredIsland>32.0</temperatureRequiredIsland><minUviForHeating>0.15</minUviForHeating><mainLightOnTime>8:00:00.0</mainLightOnTime><mainLightOffTime>19:00:00.0</mainLightOffTime></settings>