<settings><minHumidity>49</minHumidity><sprying1>09:00:00</sprying1><sprying2>17:00:00</sprying2><sprayingTime>12</sprayingTime><sprayingTimeManual>12</sprayingTimeManual><minimumHumidity>49</minimumHumidity><temperatureRequiredIsland>28.0</temperatureRequiredIsland><minUviForHeating>0.15</minUviForHeating></settings>